@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/oxw1azg.css");
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fafaf9;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
    @apply text-2xl;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: @apply stone-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  height:15px;
	width:20px;
	position: inherit;
	background:#2563eb;
	background-color: -webkit-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: -moz-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: -o-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background-size: 27px 27px;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
  height:172px;
	width:54px;
	position: inherit;
	background:#2563eb;
	background-color: -webkit-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: -moz-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: -o-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background-size: 27px 27px;
  transition: all;
}