@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #191919;
  background-color: #111829;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23575757' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
  color: inherit;
  text-decoration: none;
  color: #60a5fa;
}

a:hover {
  color: #fde047;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
    @apply text-2xl;
    @apply mb-3;
    @apply mt-3;
  }

  p {}
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  height:15px;
	width:20px;
	position: inherit;
	background:#2563eb;
	background-color: -webkit-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: -moz-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: -o-linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background: linear-gradient(-45deg, #f1f5f9 25%, #2563eb 25%, #2563eb 50%, #f1f5f9 50%, #f1f5f9 75%, #2563eb 75%);
	background-size: 27px 27px;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border-radius: 10px;
  height:172px;
	width:54px;
	position: inherit;
	background:#2563eb;
	background-color: -webkit-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: -moz-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: -o-linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background: linear-gradient(-45deg, #94a3b8 25%, #2563eb 25%, #2563eb 50%, #94a3b8 50%, #94a3b8 75%, #2563eb 75%);
	background-size: 27px 27px;
  transition: all;
}